.checkout{
    display: flex;
    padding: 80px;
    background-color: #c67066;
    height: max-content;
}
.checkout__ad{
    width: 100%;
    margin-bottom: 10px;
}

.checkout__title{
    margin-right: 1px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}